@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Mona Sans", sans-serif;
    font-size: 1em;
    font-weight: 200;
}

body {
    display: grid;
    grid-template-rows: 1fr repeat(2, auto) 4fr;
    height: 100vh;
    place-items: center;
    row-gap: 1.5em;
    background-image: url("./images/ladybug-bg-image.jpg");
    background-color: rgba(255, 255, 255, 0.7);
    background-blend-mode: lighten;
}

.ladybug-logo {
    grid-row: 2 / 3;
    max-width: 100%;
}

.login-card {
    grid-row: 3 / 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    width: 90%;
    max-width: 400px;
    background-color: #FFFFFF;
    border-radius: 2em;
    padding: 1.5em; 
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
}

#title-login-card {
    text-align: center;
    font-size: 1.5em;
    font-weight: 400;
}

#subtitle-login-card {
    text-align: center;
    font-weight: 300;
}

label {
    font-weight: 400;
}

input {
    padding: 0.75em 0.5em;
    border-radius: 0.5em;
}

input[placeholder] {
    font-size: 0.8em;
    font-weight: 300;
    padding-left: 1em;   
}

input:focus {
    border: 3px solid #D84452;
    outline: none;
}

input:focus::placeholder {
    font-weight: 400;
}

button {
    padding: 1em;
    background-color: #E57373;
    font-weight: 400;
    border: none;
    border-radius: 2em;
    margin-bottom: 0.5em;
}

button:active {
    font-weight: 600;
    background-color: #D84452;
    color: #F2F3F4;
    transform: scale(0.98);
}

a {
    text-decoration: none;
    font-weight: 400;
    color: #46699E;
    display: inline-block;
}

a:active {
    font-weight: 600;
    color: #D84452;
    text-decoration: underline;
}

#forgot-password {
    padding-bottom: 1em;
    padding-right: 0.5em;
    padding-left: 0.5em;
}

#sign-in {
    padding-top: 1em; 
}